on: [push]

jobs:
  slack_job:
    runs-on: ubuntu-latest
    name: A job that posts to Slack
    steps:
    - name: Send message
      id: slackmsg
      uses: steffenz/slack-node-github-action@master
      env:
        SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
        SLACK_MESSAGE: "I got a grey kitty, white one\nAnd a tabby too\nAnd a big orange guy\nWho put snakes in my shoes\nMad MC skills, leave ya struck\nAnd I roll with ma kitties\nAnd I'am hard as f***"